<%- include("templates/header") %>
<div class="card-deck">
    <ul class="list-group list-group-horizontal">
        <% let i=0; %>
        <% for(i=0; i < budgets.length; i++) { %>
        <%- include('templates/budgetcategories', {budgetname: budgets[i].budgetname,budgetamount:budgets[i].budgetamount})  %> 
        <% } %>
    </ul>
</div>

<%- include("templates/footer") %>