<%- include("templates/header") %>
<div class="card-deck">
    <% let i=0; %>
    <% for(i=0; i < budgets.length; i++) { %>
    <%- include('templates/budgetcategories', {budgetname: budgets[i].budgetname,budgetamount:budgets[i].budgetamount})  %> 
    <% } %>
</div>

<%- include("templates/footer") %>