<%- include("templates/header") %>
<a href="/setBudget"><button class="btn btn-primary py-2">Set New budget</button></a>
<% if (exist) { %> 
    <div class="list-group">
        <ul class="list-group">
            <% let i=0; %>
            <% for(i=0; i < budgets.length; i++) { %>
            <%- include('templates/budgetcategories', {budgetname: budgets[i].budgetname,budgetamount:budgets[i].budgetamount,expenses:expenses[i]})  %> 
            <% } %>
        </ul>
    </div>
<% } else { %>
    <h1>No budgets made</h1>
    <% } %> 
<%- include("templates/footer") %>