    create user
    <form action='/submitUser' method='post'>
    <input name='username' type='text' placeholder='name'>
    <input name='loginID' type='text' placeholder='loginID'>
    <input name='password' type='password' placeholder='password'>
    <button>Submit</button>
    </form>
<%- include("templates/footer") %> 