<%- include("templates/header") %>
    <h1>Type of Purchase</h1>
    <a href="/addExpenses">
        <button type = "button" class = "btn btn-success w-100 py-2">Short Term Purchases</button>
    </a></br></br>
    <a href="/investments">
        <button type = "button" class = "btn btn-success w-100 py-2">Long Term Investments</button>
    </a>
<%- include("templates/footer") %>