    <%- include("templates/header") %> 
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-md-10 mx-auto col-lg-5">
                <form action="/loggingin" method="post" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                    <div class="form-floating mb-3">
                        <input name="loginID" type="text" class="form-control" id="floatingUsername" placeholder="loginID" required="required">
                        <label for="floatingUsername">LoginID*</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" required="required">
                        <label for="floatingPassword">Password*</label>
                    </div>
                    <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-center mt-5">
                        <a href="/passwordReset" class="link-secondary text-decoration-none">Reset Password</a>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button><br><br>
                    <button class="btn btn-primary w-100 py-2" id="resetButton" type="submit">Reset</button>

                    <script>
                      document.getElementById("resetButton").reset();
                    </script>
                </form>
            </div>
        </div>
    </div>
    
    