<%- include("templates/header") %>
  <main class="form-signin w-100 m-auto">
    <form action='/settingBudget' method='post'>
      <h1 class="h3 mb-3 fw-normal">Create Budget</h1>

      <div class="form-floating">
        <input name="name" type="textarea" class="form-control" id="floatingInput" placeholder="Budget Name">
        <label for="floatingInput">Budget Name</label>
      </div>
      <div class="form-floating">
        <input name='amount' type="number" step="0.01" class="form-control" min="0" id="floatingnumber"
          placeholder="Budget Amount in Dollars">
        <label for="floatingnumber">Budget Amount in Dollars</label>
      </div>

      <div class="form-check text-start my-3">
      </div>
      <button class="btn btn-primary w-100 py-2" type="submit">Create</button>
      <p class="mt-5 mb-3 text-body-secondary">© 2017–2024</p>
    </form>
          <!-- Modal -->
          <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="errorModalLabel">Error</h5>
                    </div>
                    <div class="modal-body">
                        <%= error %>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="window.location.href='/setBudget'">Close</button>
                    </div>
                </div>
            </div>
        </div>
  </main>
  <% if (error) { %>
    <script>
        // Wait for the document to be ready
        document.addEventListener("DOMContentLoaded", function() {
            // When the document is ready, show the modal
            var myModal = new bootstrap.Modal(document.getElementById('errorModal'));
            myModal.show();
        });
    </script>
<% } %>
  <%- include("templates/footer") %>