<%- include("templates/header") %>

    <figure class="text-center">
        <blockquote class="blockquote">
        <p>Warning: this category has exceeded budget</p>
        </blockquote>
        <button onclick="location.href='/budgets'" type="button" class="btn btn-danger">Continue spending</button>
        <button onclick="location.href='/home'" type="button" class="btn btn-danger">Stop spending</button>
    </figure>

<%- include("templates/footer") %>