<%- include("templates/header") %>

    <figure class="text-center">
        <blockquote class="blockquote">
        <p>Warning: this category has exceeded budget</p>
        </blockquote>
        <button onclick="location.href='/expenses'" type="button" class="btn btn-danger">OK</button>
    </figure>

<%- include("templates/footer") %>