<li class="list-group-item fw-normal border border-dark">
   Expense Name : <%= expense.expense %>, Date : <%= expense.date %> <br>
   Price : $<%= expense.price %>, category <%= expense.category %>
</li>
