<li class="list-group-item fw-normal">
    Item: <%= investment.item %><br>
    Price : $<%= investment.price %><br>
    Target Year: <%= investment.year %>
    <a href = "/deleteInvestment/?item=<%= investment.item %>">
        <button class="btn btn-danger float-end">Delete Investment</button>  
    </a>
 </li>